<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <div class="control">
      <%= f.input :title,
      label: "Title",
        input_html: {class: "input"},
       label_html: {class: "label"},
       placeholder: "Title goes here...",
       autofocus: true,
       wrapper: false
      %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.input :content,
      label: "Body",
        input_html: {rows: "10"},
        input_html: {class: "textarea is-medium"},
       label_html: {class: "label"},
       placeholder: "Write something interesting",
       wrapper: false,
       as: :text
      %>
    </div>
  </div>
  <%= f.button :submit, class: "button is-info"%>
<% end %>
